
body {
    height: 98vh;
    background-color: #98c1d9;
}

/*********************************************************************/
/*********************************************************************/

/* HEADINGS */

h2 {
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #ee6c4d;
    font-size: 5vh;
}

h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #293241;
    font-size: 5vh;
}

p {
  padding: 4vh; 
  font-size: 3vh;
  font-family: 'Space Mono', monospace;
  color: #3d5a80;
}

/*********************************************************************/
/*********************************************************************/

/* HYPERLINKS */

a {
    width: 10%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    color: #ee6c4d;
    font-size: 1.5em;
    text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #293241;
}

/*********************************************************************/
/*********************************************************************/

/* GRID */

.grid-container {
  background-color: #e0fbfc;
  height: 100%;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
}

.grid-item1 {
  padding-top: 10vh;
  height:33%;
  display: flex;
  align-items: flex-end;
}

.grid-item2 {
  padding: 1em;
  height:6%;
  display: flex;
  align-items: start;
}

.grid-item3 {
  padding: 1em;
  height: 61%;
  text-align: center;
}

/*********************************************************************/
/*********************************************************************/

/* FADING-TEXT */

.fade-in-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: black;;
  animation: fadeIn linear 2.5s;
  -webkit-animation: fadeIn linear 2.5s;
  -moz-animation: fadeIn linear 2.5s;
  -o-animation: fadeIn linear 2.5s;
  -ms-animation: fadeIn linear 2.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/*********************************************************************/
/*********************************************************************/

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  border-radius: 5vh;
  border: 10px solid #293241;
  width:40vh;
  height:40vh;
}

